@charset "UTF-8";

/* Light theme color */
$light-background: rgb(246, 248, 249);
$light-background-secondary: #5db0da;
$light-background-header: #fff;
$light-color: #636b71;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
$dark-background: #232125;
$dark-background-secondary: #81c08b;
$dark-background-header: #2a272b;
$dark-color: #efdab9;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #78b0a0;
$dark-table-color: #78b0a0;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 640px;